pkgbase = qcom-qairt
	pkgver = 2.43.1.260218
	pkgrel = 2
	url = https://softwarecenter.qualcomm.com
	arch = aarch64
	license = custom:Qualcomm-Technologies-Inc.-Proprietary
	makedepends = unzip
	options = !strip
	options = !debug
	source = https://softwarecenter.qualcomm.com/api/download/software/sdks/Qualcomm_AI_Runtime_Community/All/2.43.1.260218/v2.43.1.260218.zip
	sha256sums = 4b36d5fce64f32c6be2bfaeff506e22bd737ff85190605ee1d3bf2dc6495fc81

pkgname = qcom-qnn-sdk-v68
	pkgdesc = Qualcomm Neural Network SDK (Hexagon v68)
	depends = 
	provides = qcom-qnn-sdk
	conflicts = qcom-qnn-sdk-v73

pkgname = qcom-snpe-sdk-v68
	pkgdesc = Snapdragon Neural Processing Engine SDK (Hexagon v68)
	depends = 
	provides = qcom-snpe-sdk
	conflicts = qcom-snpe-sdk-v73

pkgname = qcom-qnn-sdk-v73
	pkgdesc = Qualcomm Neural Network SDK (Hexagon v73)
	depends = 
	provides = qcom-qnn-sdk
	conflicts = qcom-qnn-sdk-v68

pkgname = qcom-snpe-sdk-v73
	pkgdesc = Snapdragon Neural Processing Engine SDK (Hexagon v73)
	depends = 
	provides = qcom-snpe-sdk
	conflicts = qcom-snpe-sdk-v68
